html, body{
	margin:0;
	padding:0;
	font-family:'Raleway', sans-serif;
	color:#33363b;
}
a{
	color:inherit;
	text-decoration: none;	
}
input, textarea, select {
   font-family: inherit;
   font-size: inherit;
   color: inherit;
}
.text-align{
	text-align: center;
}
.display-none{
	display:none;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.font-400{
	font-weight:400;
}
.font-600{
	font-weight:600;
}
.font-700{
	font-weight:700;
}
.font-red{
	color:red;
}
.line-height-30{
	line-height:30px;
}
body{
	min-width: 1200px;/*to prevent page being cut off when shrink and scroll horizontally*/
}
.width-container{
	width:1200px;
	margin-left:auto;
	margin-right:auto;
}
.gray-background{
	background-color:#f3f3f3;
	overflow: hidden;
}
.white-background{
	background-color:#fff;
	overflow: hidden;
}
.orange-btn{
	width: 200px;
	height: 30px;
	line-height: 30px;
	background-color: #ed5622;
	color: #fff;
	display:block;
	text-align:center;
	cursor: pointer;
}
.gray-btn{
	width: 200px;
	height: 30px;
	line-height: 30px;
	background-color: #62666a;
	color: #fff;
	display:block;
	text-align:center;
	cursor: pointer;
}
.white-tab{
	background-color:#fff;
	overflow: hidden;
}
.light-tab{
	background-color:#e5e5e5;
	overflow: hidden;
}
.green-tab{
	background-color:#6ecb84;
	overflow: hidden;
	color:#fff;
}
.blue-tab{
	background-color:#009ad0;
	overflow: hidden;
	color:#fff;
}
.dark-tab{
	background-color:#62666a;
	overflow: hidden;
	color:#fff;
}
.top-tab img{
	vertical-align: middle;
	border:0;/*for IE8*/
}

#navi{
	background-color: #ed5622;
	overflow:hidden;
	line-height:40px;
	width: 100%;
	/*position: fixed;
	top: 0;
	z-index: 100; active these lines when we need a sticky header*/
}
#fixed-navi-offset{
	/*height:40px; active this line when we need a sticky header*/
}
#logo-s{
	float:left;
	width:100px;
	margin-right: 40px;
}
#login-info{
	float:left;
	color:#fff;
	font-size:13px;
}
#logo-s img{
	vertical-align: middle;
	border: none;
}
.navi-item{
	float:right;
	width:200px;
	text-align: center;
	color:#fff;
}
.navi-item:hover{
	background-color:#62666a;
}

#infoMessage{
	margin-top:40px;
}
#top-tabs{
	margin-top:40px;
}
.top-tab{
	float: left;
	line-height: 40px;
	padding-left:30px;
	padding-right:30px;
	border:1px solid #b8b8b8;
	border-left: none;
	border-bottom:none;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.green-tab:hover, .blue-tab:hover{
	opacity: 0.6;
}
.dashboard-h2{
	font-weight:400;
	text-align:center;
	margin-top: 40px;
	margin-bottom: 40px;
}
.dashboard-h3{
	font-weight:400;
	text-align:center;
	margin-top: 20px;
	margin-bottom: 20px;
}
.dashboard-step-bar{
	text-align:center;
	padding-bottom:40px;
	border-bottom: 1px solid #f6f6f6;
}
.each-service-container{
	width: 100%;
	border-bottom: 1px solid #f6f6f6;
	display: table;
	position: relative;
}
#save-service-warning{
	color: red;
	font-size: 20px;
	font-weight: 700;
}
.car-bullet{
	width:30px;
	height:30px;
	float:left;
	background-image:url(/image/Loggy-Favicon.png);
	background-repeat:no-repeat;
	background-size: 100%;
	margin-right:30px;
}
.each-service-brief{
	line-height: 40px;
	outline: none; /*to remove border generated by jqueryui accordion*/
	cursor:pointer;
	overflow:hidden;
	margin-left: 80px;
}
.each-service-detail{
	padding-left:80px;
	padding-top:40px;
	padding-bottom:40px;
}
.dashboard-btn{
	padding-left:20px;
	padding-right:20px;
	color:#fff;
	display: block;
	float: right;
	font-size:13px;
}
.complete-btn{
	background-color:#ed5622;
}
.plus-minus-btn{
	background-color:#62666a;
	margin-left:20px;
	font-size:30px;
}
.toggle-closed{
	background-color:#62666a !important;
}
.toggle-opened{
	background-color:#009ad0 !important;
}
.view-dashboard-btn{
	background-color:#62666a;
	line-height: 40px;
	float:none;
	margin:auto;
	width:145px;
}
tr.space-top> td{
	padding-top: 2em;
}
tr.space-bottom> td{
	padding-bottom: 2em;
}
#complete-notification{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}
.vehicle-dashboard-brief{
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 40px;
	margin-left:80px;
}
.green-spanar-bullet{
	height:80px !important;
	background-image:url(/image/dashboard-icon/40-green-spanar-icon.png);
}
.red-spanar-bullet{
	height:80px !important;
	background-image:url(/image/dashboard-icon/40-red-spanar-icon.png);
}
.vehicle-dashboard-detail{
	padding-left: 80px;
	border-bottom: 1px solid #f6f6f6;
}
.white-bullet{
	width:70px;
	height:100%;
	float:left;
	position: absolute;
	display: table-cell;
	background-repeat:no-repeat;
	background-position:center center;
	margin-right:10px;	
}
.white-spanar-bullet{
	background-image:url(/image/dashboard-icon/30-white-spanar-icon.png);
	background-color: #62666a;
}
.white-gear-bullet{
	background-image:url(/image/dashboard-icon/30-white-gear-icon.png);
	background-color: #ba172f;
}
.white-flash-bullet{
	background-image:url(/image/dashboard-icon/30-white-flash-icon.png);
	background-color: #eabb32;
}
.white-car-bullet{
	background-image:url(/image/dashboard-icon/30-white-car-icon.png);
	background-color: #009ad0;
}
.white-wheel-bullet{
	background-image:url(/image/dashboard-icon/30-white-wheel-icon.png);
	background-color: #6ecb84;
}
.service-details-title, .parts-changed-title, .change-soon-title, .part-profile-title{
	font-size: 20px;
	font-weight: 700;
}
.service-entry-ul, .parts-changed-ul, .change-soon-ul, .part-profile-ul{
	padding-left:0;
}
.service-entry-ul li, .parts-changed-ul li, .change-soon-ul li, .part-profile-ul li{
	list-style: none;
}
.short-description{
	font-size:16px;
	font-weight:400;
	margin-left:40px;
}
.service-entry-bullet-cat, .part-type-bullet-cat, .part-group-bullet{
	width:30px;
	height:30px;
	float:left;
	background-repeat:no-repeat;
	background-size: 100%;
	margin-right:10px;	
}
.service-entry-bullet-cat-1, .part-type-bullet-cat-1{/*Mechanical*/
	background-image:url(/image/dashboard-icon/30-red-gear-icon.png);
}
.service-entry-bullet-cat-2, .part-type-bullet-cat-2{/*Electrical*/
	background-image:url(/image/dashboard-icon/30-yellow-flash-icon.png);
}
.service-entry-bullet-cat-3, .part-type-bullet-cat-3{/*Exterior*/
	background-image:url(/image/dashboard-icon/30-blue-car-icon.png);
}
.service-entry-bullet-cat-4, .part-type-bullet-cat-4{/*Interior*/
	background-image:url(/image/dashboard-icon/30-green-wheel-icon.png);
}
.part-group-bullet-1{/*Original Certified Part*/
	background-image:url(/image/dashboard-icon/30-green-good-icon.png);
}
.part-group-bullet-2{/*Performance Part*/
	background-image:url(/image/dashboard-icon/30-blue-good-icon.png);
}
.part-group-bullet-3{/*Non-Certified Part*/
	background-image:url(/image/dashboard-icon/30-red-bad-icon.png);
}
.part-group-1{
	color:#6ecb84;
	width: 200px;
	text-align: right;
}
.part-group-2{
	color:#009ad0;
	width: 200px;
	text-align: right;
}
.part-group-3{
	color:#ba172f;
	width: 200px;
	text-align: right;
}
.dashboard-form, .dashboard-width{
	margin-left:auto;
	margin-right:auto;
	width: 600px;
	overflow:hidden;
}
.dashboard-form input, .dashboard-form select{
	border:none;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	background-color:#f6f6f6;
}
.dashboard-form [type=text], .dashboard-form  select{
	border: 1px solid #f6f6f6;
}
.dashboard-form [type=radio], .dashboard-form [type=checkbox]{
	width: auto;
	height: auto;
}
.dashboard-form [type=submit]{
	width:200px;
	background-color: #ed5622;
	color:#fff;
	float:right;
	cursor:pointer;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
}
.dashboard-form textarea, .dashboard-form select[multiple]{
	height:auto;
}
.owner-details, .vehicle-details, .choosed-vehicle-details, .service-details, .part-details{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #f6f6f6;
	overflow:hidden;
}
.dashboard-part-type-cat{
	display: inline-block; 
	line-height:80px;
}
.show-label{
	width:20%;
	display:inline-block;
	font-weight:600;
}
.auth-table a{
	color: #ed5622;
	text-decoration:underline;
}
.main{
	border-bottom: 1px solid #f6f6f6;
}

#footer{
	color:#62666a;
	margin-top:40px;
	margin-bottom:40px;
}
.footer-item{
	font-size:13px;
}
.border-gap{
	font-size:13px;
	margin-left:10px;
	margin-right:10px;
}
#loggy-copy-right{
	float:right;
}